{% extends "principal/base.html" %}

{% block titulo %}
Lista de Profesores
{% endblock %}


{% block contenido %}
<a href="{% url 'crear' %}">Crear Profesor</a> <br>

<table>
    {% for profesor in profesor_list %}
    {% if not forloop.first %}
    
        {% endif %}
        
            <tr>
                <td>{{ profesor.nombre }}</td>
                <td><a href="{% url 'profesorModificar' profesor.id %}">Modificar</a></td>
                <td><a href="{% url 'borraProfesor' profesor.id %}">Borrar</a></td>
            </tr>
        
    {% endfor %}
    </table>
{% endblock %}