<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Lista de coches</title>
</head>
<body>

     <a href="{% url 'crear' %}">Crear Coche</a>

     {% for coche in coche_list %}
          {% if not forloop.first %}<hr>{% endif %}
          <ul>
               <li>{{ coche.marca }}</li>
               <li>{{ coche.modelo }}</li>
               <img style="max-width: 200px; height: auto;" src="/media/{{coche.imagen}}" alt="imagen coche">
               <li><a href="{% url 'detalle' coche.id %}">Saber más</a></li>
          </ul>
     {% endfor %}
</body>
</html>