<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Empresa</title>
</head>
<body>
     <h1>{{ receta.nombre }}</h1>
     
     <p>{{ receta.tipo }}</p>
     <p>{{ receta.subnombre }}</p>
     <p>{{ receta.ingredientes }}</p>
     <p>{{ receta.receta }}</p>
     <p>Receta añadida por: {{ receta.author }}</p>
     <p>{{ receta.categorias }}</p>

     <img src="" alt="">

     <nav>
          <a href="{% url 'modificar' receta.id %}">Modificar</a>
          <a href="{% url 'borrar' receta.id %}">Borrar</a>
     </nav>
     
</body>
</html>